.nameContainer {
  display: flex;
  align-items: center;
  margin: 22px 0 0 80px;
  justify-content: left;
}
.header {
  margin: 0 6px 2px 10px;
  width: 80px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #fff;
  color: #4040af;
  color: #9a9aa5;
  text-align: center;
  border: 2px solid rgba(145, 145, 197, 0.404);
  border-radius: 14px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.12), 4px 6px 8px rgba(0, 0, 0, 0.18);
}

.header:hover {
  color: #4a4aaf;
  transition: 0.5s linear 0.2s;
}

.input {
  composes: header;
  width: 140px;
}
.button {
  composes: header;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  margin: -12px 0 28px 168px;
}
.button:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}
