.container {
  width: 500px;
  height: 700px;
  background-image: url(./components/img/phone-container-grey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  margin: 30px auto;
  padding: 60px;
  overflow: hidden;
  position: relative;
}
.container:hover,
.container:focus {
  background-image: url(./components/img/phone-container.jpg);
  transition: 0.5s linear 0.2s;
}

.header {
  width: 300px;
  font-size: 28px;
  margin: 0 auto;
  padding: 10px;
  color: #4040af;
  text-align: center;
  /* border: 2px solid rgba(145, 145, 197, 0.404); */
  border-radius: 14px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.12), 4px 6px 8px rgba(0, 0, 0, 0.18);
}
.header:hover {
  color: rgb(44, 8, 85);
  box-shadow: 5px 8px 6px rgba(19, 133, 153, 0.18),
    0 1px 16px rgba(15, 4, 4, 0.44);
}
